In [ ]:
a = "Hello World"
c = {'a':0,'e':0,'i':0,'o':0,'u':0}
for i in a:
  if i in c:
    c[i] += 1
print(c)

{'a': 0, 'e': 1, 'i': 0, 'o': 2, 'u': 0}

In [ ]:
n =[2,3,4,5,6,7,8,9,10]
a = n[0]
b = n[-1]
c = []
for i in range(a,b):
  if i > 1:
    is_prime = True
    for j in range(2,int(i**0.5)+1):
      if i % j == 0:
        is_prime = False
        break
    if is_prime:
      c.append(i)
print(c)

[2, 3, 5, 7]

In [2]:
n =[2,3,4,5,6,7,8,9,10]
a = n[0]
b = n[-1]
c = []
for i in range(a,b):
  if i > 1:
    for j in range(2,int(i**0.5)+1):
      if i % j == 0:
        break
    else:
      c.append(i)
print(c)

[2, 3, 5, 7]

In [10]:
n =[(1,3), (4,2), (2,5), (3,1)]
n.sort(key = lambda x: x[1])
print(n)

[(3, 1), (4, 2), (1, 3), (2, 5)]

In [ ]:
a = ({1, 2, 3}, {3, 4, 5})
c = []
for i in a:
    c.append(i)

d = set()

for x in c[0]:
    if x not in c[1]:
        d.add(x)

for y in c[1]:
    if y not in c[0]:
        d.add(y)

print(d)

{1, 2, 4, 5}

In [5]:
a = {'a':1, 'b':2, 'c':3}
d = {}
for i,j in a.items():
  d[j] = i
print(d)

{1: 'a', 2: 'b', 3: 'c'}